<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mira los servicios que ofrecemos</title>
    <link rel="stylesheet" href="../css/menu.css">
    <script src="./js/script.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/4cf78acc70.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="header">
        <div class="navbar flex">
            <section>
                <a href="/">
                    <img src="../../img/anytimeLogo.png" alt="">
                </a>
            </section>
            <section>
            <a href="/"><i class="fas fa-home"></i></a>
            <a href="/menu">Servicios</a>
            <a href="/about">Acerca</a>
            <a href="/chat">Contacto</a>
            </section>
            <section>
            <a id="login" href="/login"><i class="fa fa-user"></i></a>
           </section>
        </div>
    </div>

    <div class="menu">
        <h1>Servicios</h1>
    </div>
    {{#each platillosGrupos}}
    <div class="items">
      <div class="row">
        {{#each this}}
          <div class="chicken">
            <img src="{{this.foto}}" alt="{{this.nombre}}" style="width: 100%;">
            <a href="#" target="blank">{{this.nombre}}</a>
            <h2>{{this.precio}} $</h2>
            <h2>{{this.descripcion}}</h2>
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
    
     <div class="notice">
         <p>Servicios Personalizados en nuestro gimnasio.</p>
    </div>

        <footer class="footerbx" id="contact">
            <h2>Siguenos en Redes</h2>
            <div class="footer">
                <a href="https://www.instagram.com/" target="blank"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/"
                    target="blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.youtube.com/" target="blank"><i class="fab fa-youtube"></i></a>
            </div>
        </footer>

</body>

</html>